<div class="row">
	<div class="col-md-6">
		<p>
			Created and maintained by <a
			href="https://www.tyil.work/">tyil</a>. 
			<br><br>
			Sourcecode available under GPL version 3 or later at <a
			href="https://gitlab.com/skitties/websites/fglt.nl">GitLab</a>.  If
			you wish to see any changes, please send in a merge request on the
			repository, or contact tyil.
		</p>
	</div>
	<div class="col-md-6">
		<div class="text-center">
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
			<img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
		</a>
		</div>
		<p>
			All work on this website is shared under a <a rel="license"
			href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
			Commons Attribution-ShareAlike 4.0 International License</a>,
			unless specified otherwise on the page.
		</p>
	</div>
</div>
