<div class="row">
	<div class="col-md-6">
		<p>
			Created and maintained by <a
			href="https://www.tyil.nl/">tyil</a>.
			<br><br>
			Sourcecode available under GPL version 3 or later at <a
			href="https://git.sr.ht/~tyil/www-fglt.nl">Sourcehut</a>.
			If you wish to see any changes, please send a patch to
			the mailing list specified in the <a href="{{ '/README.html' | prepend: site.baseurl }}">README.md</a>.
		</p>
	</div>
	<div class="col-md-6">
		<div class="text-center">
		<a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
			<img alt="Creative Commons License" style="border-width:0" src="{{ '/assets/img/cc-by-sa.png' | prepend: site.baseurl }}">
		</a>
		</div>
		<p>
			All work on this website is shared under a <a rel="license"
			href="https://creativecommons.org/licenses/by-sa/4.0/">Creative
			Commons Attribution-ShareAlike 4.0 International License</a>,
			unless specified otherwise on the page.
		</p>
	</div>
</div>
