<li class="nav-item">
	<a class="nav-link {% if page.section == 'home' %}active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">
		Home
	</a>
</li>
<li class="nav-item">
	<a class="nav-link {% if page.section == 'guides' %}active{% endif %}" href="{{ "/guides.html" | prepend: site.baseurl }}">
		Guides
	</a>
</li>
<li class="nav-item">
	<a class="nav-link {% if page.section == 'irc' %}active{% endif %}" href="{{ "/irc.html" | prepend: site.baseurl }}">
		IRC
	</a>
</li>
<li class="nav-item">
	<a class="nav-link {% if page.section == 'agora' %}active{% endif %}" href="{{ "/agora.html" | prepend: site.baseurl }}">
		Agora
	</a>
</li>
<li class="nav-item">
	<a class="nav-link {% if page.section == 'resources' %}active{% endif %}" href="{{ "/resources.html" | prepend: site.baseurl }}">
		Resources
	</a>
</li>
