@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Lato Light'), local('Lato-Light'), url(/assets/fonts/Lato-Light.ttf) format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Lato Regular'), local('Lato-Regular'), url(/assets/fonts/Lato-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Lato Bold'), local('Lato-Bold'), url(/assets/fonts/Lato-Bold.ttf) format('truetype');
}
