body {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* Header link is same color as plain text, so it works like a link but doesn't
 * look like one unless hovered */
header h1 a,
header h1 a:hover,
header h1 a:active {
	color: inherit;
}

header #motto {
	font-style: italic;
	text-align: center;
}

.footer {
	padding: 20px 0;
	background-color: rgba(0, 0, 0, 0.3);
	border-top: 10px solid rgba(0, 0, 0, 0.1);
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	background-color: transparent;
}
.jumbotron .btn {
	padding: 14px 24px;
	font-size: 21px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.masthead,
	.marketing,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}
}

/* add some margin to the navbox */
.masthead {
	margin: 20px 0;
}

/* sticky footer */
.flex-body {
	flex: 1;
}

/* set max-width for images */
img {
	max-width: 100%
}

/* guide css */
.guide-footer {
	margin-top: 20px;
}

/* force scrollbar */
html {
	overflow-y: scroll;
}

/* Wash out the colors in the links and code blocks to avoid the contrast
 * making things hard to read */
a, a:hover {
	color: #dd9769;
}
code, pre {
	background-color: #233546;
	color: inherit;
}

/* Distinguish blockquote backgrounds just a little */
blockquote {
	background-color: #233546;
}

/* Make deeper headings italic, just for some visual distinction */
h3, h4, h5, h6 {
	font-style: italic;
}

b.name {
	color: #ffffff;
	font-variant: small-caps;
}
span.name {
	font-variant: small-caps;
}
.greentext {
	color: #77cc77;
}
