<!DOCTYPE html>
<html>
	<head>
		{% include head.html %}
	</head>
	<body>
		<div class="container flex-body">
			<header>
				{% include header.html %}
			</header>
			<div class="masthead">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<ul class="navbar-collapse navbar-nav nav-justified">
						{% include navigation.html %}
					</ul>
				</nav>
			</div>
			<main>
				{{ content }}
			</main>
		</div>
		<div class="footer">
			<div class="container">
				<footer>
					{% include footer.html %}
				</footer>
			</div>
		</div>
		{% include scripts.html %}
	</body>
</html>

